<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Site Web de tourisme à Drâa Tafilalet">
<meta name="keywords" content="Drâa Tafilalet, Tourism, Voyage, Travel, Trip, Maroc, Morocco, Errachidia, Marzoga, Zagora, Ouarzazat,Vacations" />
<meta name="author" content="Ismail ZAHIR & Ayoub ZITANE & Zakia RHIOUI">
<link rel="icon" type="image/png" href="../public/favicon.ico">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Google Fonts  -->
<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'> <!-- Body font -->
<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'> <!-- Navbar font -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<!-- Libs and Plugins CSS -->
<link rel="stylesheet" href="../public/vendors/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="../public/vendors/animations/css/animate.min.css">
<link rel="stylesheet" href="../public/vendors/font-awesome/css/font-awesome.min.css"> <!-- Font Icons -->
<link rel="stylesheet" href="../public/vendors/mdi/css/materialdesignicons.min.css">
<link rel="stylesheet" href="../public/vendors/owl-carousel/css/owl.carousel.css">
<link rel="stylesheet" href="../public/vendors/owl-carousel/css/owl.theme.css">
<link rel="stylesheet" href="../public/vendors/slick-1.8.1/slick/slick.css">
<link rel="stylesheet" href="../public/vendors/slick-1.8.1/slick/slick-theme.css">
<!-- Theme CSS -->
<link rel="stylesheet" href="../public/css/reset.css">
<link rel="stylesheet" href="../public/css/style.css">
<link rel="stylesheet" href="../public/css/mobile.css">
<link rel="stylesheet" href="../public/css/card-style.css">
<!-- <link rel="stylesheet" href="../public/css/curve_header.css"> -->
<!-- Skin CSS -->
<link rel="stylesheet" href="../public/css/skin/cool-gray.css">
