<footer class="text-off-white">
  <div class="footer-top">
    <div class="container">
      <div class="row wow bounceInLeft" data-wow-delay="0.4s">
        <div class="col-sm-6 col-md-4">
          <h4>Drâa Tafilalet Travel</h4>
          <ul class="imp-links">
            <li>N°616, Ain El Ati 2, Errachidia</li>
            <li>
              <a href="mailto:draa-tafilalet@travel.com?subject=Web site contact" >draa-tafilalet@travel.com</a>
            </li>
            <li>+212 6 35 79 14 76</li>
            <li>7j/7 - 24h/24</li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-4">
          <img id="footer_logo" src="../public/img/logo.png" alt="logo" />
        </div>
        <div class="col-sm-6 col-md-4">
          <h4>Suivez-nous sur:</h4>
          <ul class="imp-links">
            <li>
              <a href=""><i class="mdi mdi-facebook"></i>&nbsp; Facebook</a>
            </li>
            <li>
              <a href=""><i class="mdi mdi-instagram"></i>&nbsp; Instagram</a>
            </li>
            <li>
              <a href=""><i class="mdi mdi-twitter"></i>&nbsp; Twitter</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="container text-center wow fadeIn" data-wow-delay="0.4s">
      <p class="copyright">
        Copyright &copy; 2022 - &amp; Developed by
        <a href="" class="theme-author" >Ismail ZAHIR - Ayoub ZITANE - Zakia RHIOUI</a>
      </p>
    </div>
  </div>
</footer>
<a href="#" class="scrolltotop"><i class="mdi mdi-arrow-top-left-thick"></i></a>
<!-- Scroll to top button -->