
<!-- Plugins JS -->
<script src="../public/vendors/jquery/jquery-1.11.1.min.js"></script>
<script src="../public/vendors/bootstrap/js/bootstrap.min.js"></script>
<script src="../public/vendors/owl-carousel/js/owl.carousel.min.js"></script>
<script src="../public/vendors/stellar/js/jquery.stellar.min.js"></script>
<script src="../public/vendors/animations/js/wow.min.js"></script>
<script src="../public/vendors/waypoints.min.js"></script>
<script src="../public/vendors/isotope.pkgd.min.js"></script>
<script src="../public/vendors/classie.js"></script>
<script src="../public/vendors/jquery.easing.min.js"></script>
<script src="../public/vendors/jquery.counterup.min.js"></script>
<script src="../public/vendors/smoothscroll.js"></script>
<script src="../public/vendors/slick-1.8.1/slick/slick.min.js"></script>  

<!-- Theme JS -->
<script src="../public/js/theme.js"></script>