<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="index">
        <i class="mdi mdi-grid-large menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item nav-category">Utilisateurs</li>
    <li class="nav-item">
      <a class="nav-link" href="account">
        <i class="mdi mdi-account menu-icon"></i>
        <span class="menu-title">Mon profile</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#admins" aria-expanded="false" aria-controls="admins">
        <i class="mdi mdi-account-multiple-plus menu-icon"></i>
        <span class="menu-title">Gérer les administrateurs</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="admins">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="show_admins">Afficher les administrateurs</a></li>
          <li class="nav-item"> <a class="nav-link" href="add_admin">Ajouter un administrateur</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#users" aria-expanded="false" aria-controls="users">
        <i class="mdi mdi-account-group-outline menu-icon"></i>
        <span class="menu-title">Gérer les clients</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="users">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="show_clients">Afficher les clients</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item nav-category">Articles</li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#circuit" aria-expanded="false" aria-controls="circuit">
        <i class="mdi mdi-sine-wave menu-icon"></i>
        <span class="menu-title">Circuits</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="circuit">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="show_targets">Afficher les circuits</a></li>
          <li class="nav-item"> <a class="nav-link" href="add_target">Ajouter un circuit</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#destination" aria-expanded="false" aria-controls="destination">
        <i class="mdi mdi-map-marker menu-icon"></i>
        <span class="menu-title">Destinations</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="destination">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="show_destinations">Afficher les destinations</a></li>
          <li class="nav-item"> <a class="nav-link" href="add_destination">Ajouter une destination</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#restaurant" aria-expanded="false" aria-controls="restaurant">
        <i class="mdi mdi-silverware-variant menu-icon"></i>
        <span class="menu-title">Restaurants</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="restaurant">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="show_restaurants">Afficher les restaurants</a></li>
          <li class="nav-item"> <a class="nav-link" href="add_restaurant">Ajouter un restaurant</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#hotel" aria-expanded="false" aria-controls="hotel">
        <i class="mdi mdi-bed-empty menu-icon"></i>
        <span class="menu-title">Hôtels</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="hotel">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="show_hotels">Afficher les hôtels</a></li>
          <li class="nav-item"> <a class="nav-link" href="add_hotel">Ajouter un hôtel</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#artisanat" aria-expanded="false" aria-controls="artisanat">
        <i class="mdi mdi-math-compass menu-icon"></i>
        <span class="menu-title">Artisanat</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="artisanat">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="show_artisanats">Afficher les artisanats</a></li>
          <li class="nav-item"> <a class="nav-link" href="add_artisanat">Ajouter un artisanat</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#moussem" aria-expanded="false" aria-controls="moussem">
        <i class="mdi mdi-chess-knight menu-icon"></i>
        <span class="menu-title">Moussems</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="moussem">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="show_moussems">Afficher les Moussems</a></li>
          <li class="nav-item"> <a class="nav-link" href="add_moussem">Ajouter un moussem</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#cuisine" aria-expanded="false" aria-controls="cuisine">
        <i class="mdi mdi-chef-hat menu-icon"></i>
        <span class="menu-title">Spécialité Culinaire</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="cuisine">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="show_dishs">Afficher les plats</a></li>
          <li class="nav-item"> <a class="nav-link" href="add_dish">Ajouter un plat</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#materiels" aria-expanded="false" aria-controls="materiels">
        <i class="mdi mdi-quadcopter menu-icon"></i>
        <span class="menu-title">Materiels de voyage</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="materiels">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="show_materiels">Afficher les materiels</a></li>
          <li class="nav-item"> <a class="nav-link" href="add_materiel">Ajouter un materiel</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item nav-category">Reservations</li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#reservation" aria-expanded="false" aria-controls="reservation">
        <i class="mdi mdi-checkbook menu-icon"></i>
        <span class="menu-title">Gérer les réservations</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="reservation">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="reservations_hotel">Les reservations d'hôtels</a></li>
          <li class="nav-item"> <a class="nav-link" href="reservations_voyage">Les reservations de voyage</a></li>
          <li class="nav-item"> <a class="nav-link" href="reservations_materiel">Les reservations de materiel</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item nav-category">Messages</li>
    <li class="nav-item">
      <a class="nav-link" href="messages">
        <i class="mdi mdi-chat menu-icon"></i>
        <span class="menu-title">Gérer les messages</span>
      </a>
    </li>
  </ul>
</nav>